body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Roboto", sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
/* .bodyLayout {
  display: "grid" !important;
  grid-template-columns: 875px 250px !important;
  background-color: #f8f9fc !important;
  grid-column-gap: 35px !important;
}
@media (max-width: 1200px) {
  .bodyLayout {
    background-color: red !important;
    display: grid;
    grid-template-columns: 1fr;
  }
} */
